.films__container {
  min-height: 80vh;
  @include _phone {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include _tablet_and_desktop {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;

    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.div-placeholder {
  @include centeredFlex;
  width: 100%;
  height: 80vh;
  font-weight: 700;
  color: #ff6b01;

  @include _phone {
    font-size: 32px;
  }

  @include _tablet {
    font-size: 52px;
  }

  @include _desktop {
    font-size: 72px;
  }
}
