.footer {
  background-color: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #545454;
}
.footer__heart {
  margin: 0 10px;
  animation-name: heart;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
}

@keyframes heart {
  0% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
.footer__link {
  color: #545454;
}
.footer__rights {
  font-size: 14px;
  line-height: 1.14;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.18;
    margin-left: 4px;
  }
}
.footer__by {
  font-size: 14px;
  line-height: 1.14;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.18;
  }
}
.footer__link {
  cursor: pointer;
  font-size: 14px;
  //   line-height: 1.14;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.18;
  }
}
.footer__distribution {
  @media screen and (max-width: 767px) {
    margin-top: 10px;
  }
}
.footer__flex {
  display: inline-block;
}
.imageDefault {
  margin: 0 auto;
}
