.footer {
  background-color: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #545454;
}
.footer__heart {
  margin: 0 10px;
  content: 'scale(1.25)';
}
.footer__link {
  color: #545454;
}
.footer__rights {
  font-size: 14px;
  line-height: 1.14;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.18;
  }
}
.footer__by {
  font-size: 14px;
  line-height: 1.14;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.18;
  }
}
.footer__link {
  font-size: 14px;
  //   line-height: 1.14;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.18;
  }
}
.footer__distribution {
  @media screen and (max-width: 767px) {
    margin-top: 10px;
  }
}
.footer__flex {
  display: inline-block;
}
