.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('./../images/header-main/header320.jpg');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 46px 0 97px;

  @include respond-to(tablet) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('./../images/header-main/header768.jpg');
    padding: 41px 0 97px;
  }

  @include respond-to(desktop) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('./../images/header-main/header1024.jpg');
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// .header.library {
//   background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
//     url('./../images/header-library/library320.jpg');
//   padding: 46px 0 65px;

//   @include respond-to(tablet) {
//     background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
//     url('./../images/header-library/library768.jpg');
//     padding: 41px 0 65px;
//   }

//   @include respond-to(desktop) {
//     background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
//     url('./../images/header-library/library1024@2x.jpg');
//   }
// }

.logo {
  animation: lightSpeedInLeft;
  animation-duration: 1.5s;

  @include respond-to(tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    stroke: getColor(text-fifth);
  }
  &__text {
    display: none;
    @include respond-to(tablet) {
      display: block;
      font-weight: 500;
      @include font(30px, 35px);
      color: getColor(text-third);
      margin-left: 10px;
    }
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item:nth-child(2) {
    margin-left: 40px;
  }
  &__item.active {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background: getColor(accent);
    }
  }
  &__link {
    font-weight: 500;
    @include font(12px, 14px);
    text-transform: uppercase;
    color: getColor(text-third);

    &:hover,
    &:focus {
      color: getColor(accent);
    }
  }
}

.input {
  width: 280px;
  height: 20px;
  font-weight: 400;
  @include font(14px, 16px);
  color: getColor(text-third);
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid getColor(text-third);
  padding: 0 15px 4px 1px;
  outline: none;

  @include respond-to(tablet) {
    width: 336px;
  }

  &:focus {
    border-bottom: 0.5px solid getColor(accent);
  }
  &::placeholder {
    font-weight: 400;
    @include font(14px, 16px);
    color: getColor(text-third);
  }
  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 38px;

    &.tab-inactive {
      display: none;
    }
  }
  &__search-icon {
    position: absolute;
    content: '';
    bottom: 6px;
    right: 0;
    width: 12px;
    height: 12px;
    stroke: getColor(text-third);

    @include respond-to(tablet) {
      right: (142px);
    }

    @include respond-to(desktop) {
      right: (274px);
    }
  }
  &__error {
    position: absolute;
    content: '';
    top: 44px;
    left: 0;
    font-weight: 400;
    @include font(14px, 16px);
    color: getcolor(error-color);

    @include respond-to(tablet) {
      left: (113px);
    }

    @include respond-to(desktop) {
      left: (244px);
    }
  }
}

// Retina ....................
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('./../images/header-main/header320@2x.jpg');
  }
  // .header.library {
  //   background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
  //     url('./../images/header-library/library320@2x.jpg');
  // }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('./../images/header-main/header768@2x.jpg');
  }
  // .header.library {
  //   background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
  //     url('./../images/header-library/library768@2x.jpg');
  // }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
  screen and (min-resolution: 192dpi) and (min-width: 1024px),
  screen and (min-resolution: 2dppx) and (min-width: 1024px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('./../images/header-main/header1024@2x.jpg');
  }
  // .header.library {
  //   background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
  //     url('./../images/header-library/library1024@2x.jpg');
  // }
}