#tui-pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

span.tui-page-btn.tui-prev,
a.tui-page-btn.tui-prev {
  margin: 0;
  order: -1;
  background-color: #f7f7f7;
  color: #000000;
  border: none;
  border-radius: 5px;
}

a.tui-page-btn.tui-next,
span.tui-page-btn.tui-next {
  margin: 0;
  order: +1;
  background-color: #f7f7f7;
  border: none;
  border-radius: 5px;
}

a.tui-page-btn.tui-first,
span.tui-page-btn.tui-first,
a.tui-page-btn.tui-last,
span.tui-page-btn.tui-last,
.tui-pagination a.tui-page-btn,
#tui-pagination-container .tui-page-btn.tui-next-is-ellip {
  border: none;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  transition: 250ms $animation-cubic;
}

#tui-pagination-container .tui-page-btn.tui-first,
#tui-pagination-container .tui-page-btn.tui-last,
#tui-pagination-container .tui-page-btn.tui-next,
#tui-pagination-container .tui-page-btn.tui-prev {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0 6px;
  align-self: center;
}

strong.tui-page-btn.tui-is-selected {
  background-color: #ff6b08;
  border-radius: 5px;
  border-color: #ff6b08;
}

strong.tui-page-btn.tui-is-selected:hover {
  background-color: #818181;
  border-color: #818181;
}

#tui-pagination-container .tui-first-child.tui-is-selected,
#tui-pagination-container .tui-last-child.tui-is-selected {
  border-right: #ff6b08;
  border-left: #ff6b08;
}

#tui-pagination-container .tui-ico-last,
#tui-pagination-container .tui-ico-first {
  width: 16px;
  height: 16px;
  background: none;
  font-size: 12px;
  color: inherit;
}

#tui-pagination-container .tui-page-btn.tui-is-disabled {
  color: #dddddd;
}

#tui-pagination-container .tui-ico-next {
  width: 16px;
  height: 16px;
  background: none;
  background-image: url('../../src/images/pagination/arrow-right.svg');
  background-size: cover;
}

#tui-pagination-container .tui-ico-prev {
  width: 16px;
  height: 16px;
  background: none;
  background-image: url('../../src/images/pagination/arrow-left.svg');
  background-size: cover;
}
