div.tui-pagination .tui-page-btn {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;

  border: none;
  border-radius: 5px;
}
strong.tui-page-btn{
border: none;
border-radius: 5px; 
}

strong.tui-page-btn.tui-prev {
  order: -1;
}
strong.tui-page-btn.tui-next {
  order: 1;
}

strong.tui-page-btn.tui-is-selected {
  border-color: #FF6B08;
  background-color: #FF6B08;
  background: #FF6B08;
  color: #fff;
}

strong.tui-first-child .tui-last-child {
  text-align: center;
}
