$primary-font: 'Roboto', sans-serif;

$colors: (

  'accent': #ff6b08,
  //----- header --------------------------------
  'logo-icon-color': #8c8c8c, // text-fifth
  'logo-title-color': #ffffff, // text-third
    
  'link-text-color': #ffffff,  // text-third
  
  'input-border-color': #ffffff,  // text-third
  'input-placeholder-color': #ffffff,  // text-third
  'input-searchquery': #ffffff,  // text-third
  'input-search-icon': #ffffff,  // text-third  

  //--------------------------------------------
  'text-primary': #000000,
  'text-secondary': #ff6b08,
  'text-third': #ffffff,
  'text-fourth': #545454,
  'text-fifth': #8c8c8c,
  'bg-primary': #ffffff,
  'bg-secondary': #f7f7f7,
  'bg-backdrop': rgba(0, 0, 0, 0.25),
  'title-primary': #000000,
  'icon-primary': #000000,
  'icon-secondary': #ffffff,
  'icon-bg': #f7f7f7,
  'button-text': #ffffff,
  'button-bg-primary': #ff6b08,
  'button-bg-secondary': transparent,
  'input-placeholder': #ffffff,
  'error-color': #ff001b,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

$animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;
