<section class="films container">
  <h2 class="visually-hidden">Films</h2>
  <div class="films__container">
    <!-- <include src="./partials/utils/spinner.html"></include> -->
    <div class="films__card">
      <span class="films__label">Film</span>
    </div>
    <div class="films__card">
      <span class="films__label">Film</span>
    </div>
    <div class="films__card">
      <span class="films__label">Film</span>
    </div>
    <div class="films__card">
      <span class="films__label">Film</span>
    </div>
    <div class="films__card">
      <span class="films__label">Film</span>
    </div>
    <div class="films__card">
      <span class="films__label">Film</span>
    </div>
    <div class="films__card">
      <span class="films__label">Film</span>
    </div>
    <div class="films__card">
      <span class="films__label">Film</span>
    </div>
    <div class="films__card">
      <span class="films__label">Film</span>
    </div>
    <div class="films__card">
      <span class="films__label">Film</span>
    </div>
    <div class="films__card">
      <span class="films__label">Film</span>
    </div>
    <div class="films__card">
      <span class="films__label">Film</span>
    </div>
  </div>
</section>
