<footer class="footer">
   <div class="container footer__container">
   <p class="footer__rights"> © 2020 | All Rights Reserved | </p>

      <div class="footer__distribution">

         <p class="footer__rights footer__flex">Developed with</p>

         <svg class="footer__heart" width="14" height="13">
            <use href="./images/sprite.svg#seruce"></use>
         </svg>
         
         <span class="footer__by"> by </span>
         <u>
            <a class="footer__link"> GoIT Students</a>
         </u>
      </div>

      
<!-- ============== Модалка: Our team ======================= -->

      <div class="backdrop is-hidden">
         <div class="modal">
            <button type="button" class="modal__button">
               <svg class="modal__icon" width="18" height="18">
                  <use href="./images/sprite.svg#close"></use>
               </svg>
            </button>
            <h1 class="gallery__title">Our team:</h1>
            <ul class="gallery__list">
               <li class="gallery__item">
                   <a href="">
                      <div class="gallery__image">
                         <img class="gallery__photo" src="./images/photo_Bludov.jpg" alt="">
                      </div>
                      <div class="gallery__description">
                         <p class="gallery__action">Vladimir Bludov</p>
                      </div>
                   </a>
               </li>
               <li class="gallery__item">
                  <a href="">
                     <div class="gallery__image">
                        <img class="gallery__photo" src="" alt="">
                     </div>
                     <div class="gallery__description">
                        <p class="gallery__action">Oleksandr Gaj</p>
                     </div>
                  </a>
               </li>
               <li class="gallery__item">
                  <a href="">
                     <div class="gallery__image">
                        <img class="gallery__photo" src="./images/photo_yulia2.jpg" alt="">
                     </div>
                     <div class="gallery__description">
                        <p class="gallery__action">Yulia Komashilowa</p>
                     </div>
                  </a>
               </li>
               <li class="gallery__item">
                  <a href="">
                     <div class="gallery__image">
                        <img class="gallery__photo" src="" alt="">
                     </div>
                     <div class="gallery__description">
                        <p class="gallery__action">Sokoriev Volodymyr</p>
                     </div>
                  </a>
               </li>
               <li class="gallery__item">
                  <a href="">
                     <div class="gallery__image">
                        <img class="gallery__photo" src="" alt="">
                     </div>
                     <div class="gallery__description">
                        <p class="gallery__action">Mikhail Melnikov</p>
                     </div>
                  </a>
               </li>
               <li class="gallery__item">
                  <a href="">
                     <div class="gallery__image">
                        <img class="gallery__photo" src="./images/photo_Zenia.jpg" alt="">
                     </div>
                     <div class="gallery__description">
                        <p class="gallery__action">Eugen Kovalchuk</p>
                     </div>
                  </a>
               </li>
               <li class="gallery__item">
                  <a href="">
                     <div class="gallery__image">
                        <img class="gallery__photo" src="./images/photo_ja.jpg" alt="">
                     </div>
                     <div class="gallery__description">
                        <p class="gallery__action">Volodymyr Forysiak</p>
                     </div>
                  </a>
               </li>
               <li class="gallery__item">
                  <a href="">
                     <div class="gallery__image">
                        <img class="gallery__photo" src="./images/photo_2022-01-16_16-51-19.jpg" alt="">
                     </div>
                     <div class="gallery__description">
                        <p class="gallery__action">Anastasia</p>
                     </div>
                  </a>
               </li>
               <li class="gallery__item">
                  <a href="">
                     <div class="gallery__image">
                        <img class="gallery__photo" src="./images/photo_Zajcev.jpg" alt="">
                     </div>
                     <div class="gallery__description">
                        <p class="gallery__action">Vlad Zajcev</p>
                     </div>
                  </a>
               </li>
            </ul>
         </div>
      </div>

   </div>
</footer>
