.backdrop {
  // display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--animation) var(--cubic);
  z-index: 5;
}
.modal {
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @include _phone {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }

  @include _phone_gap {
    width: 100vw;
  }

  @include _tablet {
    width: 548px;
  }

  @include _desktop {
    width: 812px;
  }
  background-color: #fff;
  padding: 15px;
  transition: transform var(--animation) var(--cubic);
  padding: 30px;
  border-radius: 20px;
  // border: 5px solid green;
  display: grid;
  justify-content: center;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal__button {
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border: none;
  width: 30px;
  height: 30px;
  // @include centeredFlex();
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.modal__icon {
  fill: #000000;
}
.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
  fill: #ff6b01;
}

.gallery__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff6b01;
  margin-bottom: 30px;
}

.gallery__list {
  margin-top: 10px;

  @include _tablet {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 548px;
    margin-top: 20px;
  }

  @include _desktop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 812px;
    margin-top: 10px;
  }
}

.gallery__image {
  width: 100px;
  height: 100px;
  background-color: gainsboro;
  border-radius: 50px;
  transform: scale(1);
}

.gallery__image:hover {
  transform: scale(1.25);
  transition-duration: 600ms;
}

.gallery__item {
  @include centeredFlex();
  flex-direction: column;
  max-width: 100%;

  @include _phone {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @include _tablet {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 548px;
    margin-top: 20px;
    width: calc((100% - 40px) / 3);
  }

  @include _desktop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 812px;
    margin-top: 10px;
    width: calc((100% - 60px) / 4);
  }
}

.gallery__description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  flex-direction: column;
}
.gallery__action {
  color: #000;
  border-radius: 5px;
  padding: 2px;
  font-size: 14px;
  @media screen and (min-width: 480px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1020px) {
    font-size: 15px;
  }
}
.gallery__photo {
  border-radius: 50px;
  height: 100%;
  width: 100%;

  object-fit: cover;
}
.gallery__link {
  color: #ff6b01;
  // margin-top: 7px;
  font-size: 13px;
}
.gallery__icon {
  fill: #000;
}
.gallery__icon:hover {
  fill: #ff6b01;
  transition: fill 250ms linear;
  animation-name: circle;
  animation-duration: 500ms;
  animation-timing-function: linear;
}
@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
