<div class="backdrop is-hidden">
  <div class="modal">
    <button type="button" class="modal__button">
      <svg class="modal__icon" width="18" height="18">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <h3 class="gallery__title visually-hidden">Our team:</h3>
    <ul class="gallery__list">
      <li class="gallery__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="https://www.linkedin.com/in/vladimir-bludov-625042229/">
              <img src="./images/photo-our-team/Bludov.jpg" loading="lazy" alt="Photo" />
            </a>

            <!-- the username -->
            <h4>Vladimir Bludov</h4>
          </header>
          <!-- <a class="position__link" target="_blank" href="https://github.com/VladimirBludov">
            <svg class="icon" width="18" height="18">
              <use href="./images/sprite.svg#github"></use>
            </svg>
          </a> -->

          <div class="profile-bio">
            <p>Hello there!</p>
            <p>
              I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.
              <br />I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.
            </p>
          </div>

          <ul class="profile-social-links">
            <!-- twitter - el clásico  -->
            <li>
              <a target="_blank" href="https://github.com/VladimirBludov">
                <svg class="icon" width="22" height="22">
                  <use href="./images/sprite.svg#github"></use>
                </svg>
              </a>
            </li>

            <!-- envato – use this one to link to your marketplace profile -->
            <li>
              <a target="_blank" href="https://www.linkedin.com/in/vladimir-bludov-625042229/">
                <svg class="icon" width="22" height="22">
                  <use href="./images/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </aside>
        <!-- <a target="_blank" href="https://www.linkedin.com/in/vladimir-bludov-625042229/">
          <div class="gallery__image">
            <img class="gallery__photo" src="./images/photo-our-team/Bludov.jpg" alt="" />
          </div>
          <div class="gallery__description">
            <p class="gallery__action">Vladimir Bludov</p>
            <a target="_blank" href="https://github.com/VladimirBludov">
              <svg class="gallery__icon" width="18" height="18">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          </div>
        </a> -->
      </li>

      <li class="gallery__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a
              class="img__link"
              target="_blank"
              href="https://www.linkedin.com/in/sanyi-gal-b1a015230/"
            >
              <img src="./images/photo-our-team/oleksandr.jpg" loading="lazy" alt="Photo" />
            </a>

            <!-- the username -->
            <h4>
              Gàl <br />
              Sàndor
            </h4>
          </header>
          <!-- <a class="position__link" target="_blank" href="https://github.com/GalSanyi">
          <svg class="icon" width="18" height="18">
            <use href="./images/sprite.svg#github"></use>
          </svg>
        </a> -->
          <div class="profile-bio">
            <p>Hello there!</p>
            <p>
              I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.
              <br />I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.
            </p>
          </div>

          <ul class="profile-social-links">
            <!-- twitter - el clásico  -->
            <li>
              <a target="_blank" href="https://github.com/GalSanyi">
                <svg class="icon" width="22" height="22">
                  <use href="./images/sprite.svg#github"></use>
                </svg>
              </a>
            </li>

            <!-- envato – use this one to link to your marketplace profile -->
            <li>
              <a target="_blank" href="https://www.linkedin.com/in/sanyi-gal-b1a015230/">
                <svg class="icon" width="22" height="22">
                  <use href="./images/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </aside>

        <!-- <a target="_blank" href="https://www.linkedin.com/in/sanyi-gal-b1a015230/">
          <div class="gallery__image">
            <img class="gallery__photo" src="./images/photo-our-team/oleksandr.jpg" alt="" />
          </div>
          <div class="gallery__description">
            <p class="gallery__action">Gàl Sàndor</p>
            <a target="_blank" href="https://github.com/GalSanyi">
              <svg class="gallery__icon" width="18" height="18">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a> 
            
          </div>
        </a> -->
      </li>

      <li class="gallery__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="https://github.com/Yulia-kom">
              <img src="./images/photo-our-team/photo_Yulia2.jpg" loading="lazy" alt="Photo" />
            </a>

            <!-- the username -->
            <h4>Yulia Komashilowa</h4>
          </header>
          <!-- <a class="position__link" target="_blank" href="https://github.com/Yulia-kom">
            <svg class="icon" width="18" height="18">
              <use href="./images/sprite.svg#github"></use>
            </svg>
          </a> -->
          <div class="profile-bio">
            <p>Hello there!</p>
            <p>
              I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.
              <br />I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.
            </p>
          </div>

          <ul class="profile-social-links">
            <!-- twitter - el clásico  -->
            <li>
              <a target="_blank" href="https://github.com/Yulia-kom">
                <svg class="icon" width="22" height="22">
                  <use href="./images/sprite.svg#github"></use>
                </svg>
              </a>
            </li>

            <!-- envato – use this one to link to your marketplace profile -->
            <li>
              <a target="_blank" href="https://github.com/Yulia-kom">
                <svg class="icon" width="22" height="22">
                  <use href="./images/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </aside>

        <!-- <a target="_blank" href="https://github.com/Yulia-kom">
          <div class="gallery__image">
            <img class="gallery__photo" src="./images/photo-our-team/photo_Yulia2.jpg" alt="" />
          </div>
          <div class="gallery__description">
            <p class="gallery__action">Yulia Komashilowa</p>
            <a target="_blank" href="https://github.com/Yulia-kom">
              <svg class="gallery__icon" width="18" height="18">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a> 
            
          </div>
        </a> -->
      </li>

      <li class="gallery__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="http://linkedin.com/in/volodymyr-sokoriev">
              <img src="./images/photo-our-team/Sokoriev.jpg" loading="lazy" alt="Photo" />
            </a>

            <!-- the username -->
            <h4>Sokoriev Volodymyr</h4>
          </header>
          <!-- <a class="position__link"target="_blank" href="https://github.com/sokorevvvladimir">
            <svg class="icon" width="18" height="18">
              <use href="./images/sprite.svg#github"></use>
            </svg>
          </a> -->
          <div class="profile-bio">
            <p>Hello there!</p>
            <p>
              I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.
              <br />I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.
            </p>
          </div>

          <ul class="profile-social-links">
            <!-- twitter - el clásico  -->
            <li>
              <a target="_blank" href="https://github.com/sokorevvvladimir">
                <svg class="icon" width="22" height="22">
                  <use href="./images/sprite.svg#github"></use>
                </svg>
              </a>
            </li>

            <!-- envato – use this one to link to your marketplace profile -->
            <li>
              <a target="_blank" href="http://linkedin.com/in/volodymyr-sokoriev">
                <svg class="icon" width="22" height="22">
                  <use href="./images/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </aside>

        <!-- <a target="_blank" href="http://linkedin.com/in/volodymyr-sokoriev">
          <div class="gallery__image">
            <img class="gallery__photo" src="./images/photo-our-team/Sokoriev.jpg" alt="" />
          </div>
          <div class="gallery__description">
            <p class="gallery__action">Sokoriev Volodymyr</p>
            <a target="_blank" href="https://github.com/sokorevvvladimir">
              <svg class="gallery__icon" width="18" height="18">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a> 
          
          </div>
        </a> -->
      </li>

      <li class="gallery__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="https://www.linkedin.com/in/mikhail-melnikov-0a99a5211">
              <img src="./images/photo-our-team/Mykhailo.jpg" loading="lazy" alt="Photo" />
            </a>

            <!-- the username -->
            <h4>Mikhail Melnikov</h4>
          </header>
          <!-- <a class="position__link"  target="_blank"
            href="https://github.com/Miguelidze/git-tutorial/blob/main/.gitignore">
            <svg class="icon" width="18" height="18">
              <use href="./images/sprite.svg#github"></use>
            </svg>
          </a> -->
          <div class="profile-bio">
            <p>Hello there!</p>
            <p>
              I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.
              <br />I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.
            </p>
          </div>

          <ul class="profile-social-links">
            <!-- twitter - el clásico  -->
            <li>
              <a
                target="_blank"
                href="https://github.com/Miguelidze/git-tutorial/blob/main/.gitignore"
              >
                <svg class="icon" width="22" height="22">
                  <use href="./images/sprite.svg#github"></use>
                </svg>
              </a>
            </li>

            <!-- envato – use this one to link to your marketplace profile -->
            <li>
              <a target="_blank" href="https://www.linkedin.com/in/mikhail-melnikov-0a99a5211">
                <svg class="icon" width="22" height="22">
                  <use href="./images/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </aside>

        <!-- <a target="_blank" href="https://www.linkedin.com/in/mikhail-melnikov-0a99a5211">
          <div class="gallery__image">
            <img class="gallery__photo" src="./images/photo-our-team/Mykhailo.jpg" alt="" />
          </div>
          <div class="gallery__description">
            <p class="gallery__action">Mikhail Melnikov</p>
            <a
              target="_blank"
              href="https://github.com/Miguelidze/git-tutorial/blob/main/.gitignore"
            >
              <svg class="gallery__icon" width="18" height="18">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a> 
           
          </div>
        </a> -->
      </li>

      <li class="gallery__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="https://www.linkedin.com/in/eugen-kovalchuk-050820226/">
              <img src="./images/photo-our-team/photo_Zenia.jpg" loading="lazy" alt="Photo" />
            </a>

            <!-- the username -->
            <h4>Eugen Kovalchuk</h4>
          </header>
          <!-- <a class="position__link" target="_blank" href="https://github.com/Eugen-Ko">
              <svg class="icon" width="18" height="18">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a> -->
          <div class="profile-bio">
            <p>Hello there!</p>
            <p>
              I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.
              <br />I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.
            </p>
          </div>

          <ul class="profile-social-links">
            <!-- twitter - el clásico  -->
            <li>
              <a target="_blank" href="https://github.com/Eugen-Ko">
                <svg class="icon" width="22" height="22">
                  <use href="./images/sprite.svg#github"></use>
                </svg>
              </a>
            </li>

            <!-- envato – use this one to link to your marketplace profile -->
            <li>
              <a target="_blank" href="https://www.linkedin.com/in/eugen-kovalchuk-050820226/">
                <svg class="icon" width="22" height="22">
                  <use href="./images/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </aside>
        <!-- <a target="_blank" href="https://www.linkedin.com/in/eugen-kovalchuk-050820226/">
          <div class="gallery__image">
            <img class="gallery__photo" src="./images/photo-our-team/photo_Zenia.jpg" alt="" />
          </div>
          <div class="gallery__description">
            <p class="gallery__action">Eugen Kovalchuk</p>
            <a target="_blank" href="https://github.com/Eugen-Ko">
              <svg class="gallery__icon" width="18" height="18">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          
          </div>
        </a> -->
      </li>

      <li class="gallery__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="https://www.linkedin.com/in/volodymyr-forysiak-2a90b9229/">
              <img src="./images/photo-our-team/ja.jpg" loading="lazy" alt="Photo" />
            </a>

            <!-- the username -->
            <h4>Volodymyr Forysiak</h4>
          </header>
          <!-- <a class="position__link" target="_blank" href="https://github.com/forysiak-vova">
              <svg class="icon" width="18" height="18">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a> -->
          <div class="profile-bio">
            <p>Hello there!</p>
            <p>
              I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.
              <br />I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.
            </p>
          </div>

          <ul class="profile-social-links">
            <!-- twitter - el clásico  -->
            <li>
              <a target="_blank" href="https://github.com/forysiak-vova">
                <svg class="icon" width="22" height="22">
                  <use href="./images/sprite.svg#github"></use>
                </svg>
              </a>
            </li>

            <!-- envato – use this one to link to your marketplace profile -->
            <li>
              <a target="_blank" href="https://www.linkedin.com/in/volodymyr-forysiak-2a90b9229/">
                <svg class="icon" width="22" height="22">
                  <use href="./images/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </aside>

        <!-- <a target="_blank" href="https://www.linkedin.com/in/volodymyr-forysiak-2a90b9229/">
          <div class="gallery__image">
            <img class="gallery__photo" src="./images/photo-our-team/ja.jpg" alt="" />
          </div>
          <div class="gallery__description">
            <p class="gallery__action">Volodymyr Forysiak</p>
            <a target="_blank" href="https://github.com/forysiak-vova">
              <svg class="gallery__icon" width="18" height="18">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a> 
        
          </div>
        </a> -->
      </li>

      <li class="gallery__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="http://linkedin.com/in/trounova-anastasia-41ba9219">
              <img
                src="./images/photo-our-team/photo_2022-01-16_16-51-19.jpg"
                loading="lazy"
                alt="Photo"
              />
            </a>

            <!-- the username -->
            <h4>Anastasia Trunowa</h4>
          </header>
          <!-- <a class="position__link" target="_blank" href="https://github.com/anasty223">
              <svg class="icon" width="18" height="18">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a> -->
          <div class="profile-bio">
            <p>Hello there!</p>
            <p>
              I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.
              <br />I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.
            </p>
          </div>

          <ul class="profile-social-links">
            <!-- twitter - el clásico  -->
            <li>
              <a target="_blank" href="https://github.com/anasty223">
                <svg class="icon" width="22" height="22">
                  <use href="./images/sprite.svg#github"></use>
                </svg>
              </a>
            </li>

            <!-- envato – use this one to link to your marketplace profile -->
            <li>
              <a target="_blank" href="http://linkedin.com/in/trounova-anastasia-41ba9219">
                <svg class="icon" width="22" height="22">
                  <use href="./images/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </aside>

        <!-- <a target="_blank" href="http://linkedin.com/in/trounova-anastasia-41ba9219">
          <div class="gallery__image">
            <img
              class="gallery__photo"
              src="./images/photo-our-team/photo_2022-01-16_16-51-19.jpg"
              alt=""
            />
          </div>
          <div class="gallery__description">
            <p class="gallery__action">Anastasia Tyshchenko-Trunowa</p>
            <a target="_blank" href="https://github.com/anasty223">
              <svg class="gallery__icon" width="18" height="18">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a> 
            
          </div>
        </a>-->
      </li>

      <li class="gallery__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="https://www.linkedin.com/in/vladislav-zaitsev/">
              <img src="./images/photo-our-team/photo_Zajcev.jpg" loading="lazy" alt="Photo" />
            </a>

            <!-- the username -->
            <h4>
              Vlad
              <br />
              Zaitsev
            </h4>
          </header>
          <!-- <a class="position__link" target="_blank" href="https://github.com/VladCn" class="icon">
    <svg class="icon" width="18" height="18">
      <use href="./images/sprite.svg#github"></use>
    </svg>
  </a> -->
          <div class="profile-bio">
            <p>Hello there!</p>
            <p>
              I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.
              <br />I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.
            </p>
          </div>

          <ul class="profile-social-links">
            <!-- twitter - el clásico  -->
            <li>
              <a target="_blank" href="https://github.com/VladCn" class="icon">
                <svg class="icon" width="22" height="22">
                  <use href="./images/sprite.svg#github"></use>
                </svg>
              </a>
            </li>

            <!-- envato – use this one to link to your marketplace profile -->
            <li>
              <a target="_blank" href="https://www.linkedin.com/in/vladislav-zaitsev/">
                <svg class="icon" width="22" height="22">
                  <use href="./images/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </aside>

        <!-- <a target="_blank" href="https://www.linkedin.com/in/vladislav-zaitsev/">
          <div class="gallery__image">
            <img class="gallery__photo" src="./images/photo-our-team/photo_Zajcev.jpg" alt="" />
          </div>
          <div class="gallery__description">
            <p class="gallery__action">Vlad Zaitsev</p>
            <a target="_blank" href="https://github.com/VladCn" class="icon">
              <svg class="gallery__icon" width="18" height="18">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a> 
           
          </div>
        </a> -->
      </li>
    </ul>
  </div>
</div>
