<div class="trailer__backdrop trailer__backdrop--hidden">
  <div class="trailer__window"></div>
  <button class="trailer__close-btn" aria-label="Close">
    <svg width="48" height="48">
      <use href="./images/sprite.svg#exit"></use>
    </svg>
  </button>
  <div class="loader-ellips spinner-modal is-hidden">
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
  </div>
</div>
